/build/
/tmp_build/
/test_out_bin/
/lib/
/doc/
/bin/
/dll/
/obj/
/out/
__history
tmp
.vs
*.pro.user
*.autosave
*.lib
BuildLog.htm
*.dep
*.obj
*.manifest
*.res
*.ilk
*.pch
*.pdb
*.idb
*.exe
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.#*
*.suo
*.ncb
*.i
*.idc
*.vcxproj.user
*.vcproj.*.user
*.tvsconfig
*.groupproj.local
*.cbproj.local
*.sdf
*.opensdf